<div class="row">
    <div class="col-12 col-lg-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Brands</h5>
            </div>
            <table class="table table-hover my-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="d-none d-xl-table-cell">Name</th>
                        <th class="d-none d-xl-table-cell">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let brand of brandList()">
                        <td>{{brand.id}}</td>
                        <td class="d-none d-xl-table-cell">{{brand.name}}</td>
                        <td class="d-none d-xl-table-cell"><a href="">Edit</a> | <a href="">Delete</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="card-footer d-flex justify-content-between align-items-center p-2">
                <button class="btn btn-primary" (click)="redirectTo()">Create</button>
                <div class="d-flex align-items-center gap-2">
                    <label class="mb-0 me-2">Limit:</label>
                    <select class="form-select form-select-sm" style="width: auto;" (change)="loadBrandByLimit($event)">
                        <option selected>2</option>
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                    </select>
                    <label class="mb-0 me-2">Page:</label>
                    <select class="form-select form-select-sm" style="width: auto;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>