<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" routerLink="">
            <span class="align-middle">psbAdmin</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/users">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">User</span>
                </a>
            </li>

            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="/brand">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Brand</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-in.html">
                    <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
                </a>
            </li>
        </ul>
    </div>
</nav>