<div class="row d-flex justify-content-center">
    <div class="col-8 col-lg-8 d-flex">
        <div class="card bg-white p-4 shadow rounded" style="width: 100%; max-width: 100%;">
            <form [formGroup]="brandForm">
                <div class="form-group row">
                    <label for=""><strong>Brands</strong></label>
                </div>
                <div class="form-group row" style="padding: 9px;">
                    <label for="inputId3" class="col-sm-2 col-form-label">Id:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="id">
                    </div>
                </div>
                <div class="form-group row" style="padding: 9px;">
                    <label for="inputName3" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-between" style="padding: 9px;">
                <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="isDisabled">submit</button>
                <button class="btn btn-outline-secondary" routerLink="/brand/list">previous</button>
            </div>
        </div>
    </div>
</div>